{% extends 'base.html' %}

{% block content %}

<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bd54180018d8f7825791aa6f9ebb0aa&libraries=services"></script>
<script>
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});
var centerPos=new kakao.maps.LatLng(37.566826, 126.9786567);
var userLevel=4;
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: centerPos, // 지도의 중심좌표
        level: userLevel // 지도의 확대 레벨
    };  
var searchRadius={1:20,2:30,3:50,4:100,5:250,6:500,7:1000,8:2000,9:2000,10:2000,11:2000,12:2000,13:2000,14:2000,15:2000};
// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 
//generate zoom controler

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places(); 
if(navigator.geolocation)
{
    //alert('geo oK');
    navigator.geolocation.getCurrentPosition((position)=>{
    centerPos=new kakao.maps.LatLng(position.coords.latitude,position.coords.longitude);
    map.setCenter(centerPos);
    ps.keywordSearch('영남대학교 it관', placesSearchCB,{location:centerPos,radius:2000}); 
    
    //alert(centerPos+'curPos');
    });
  
}
else
{
    ps.keywordSearch('헬스장', placesSearchCB,{location:centerPos}); 
}
// 키워드로 장소를 검색합니다
//alert(centerPos);

var zoomControl=new kakao.maps.ZoomControl();
map.addControl(zoomControl,kakao.maps.ControlPosition.RIGHT);
kakao.maps.event.addListener(map,'zoom_changed',function(){
    var search=map.getLevel();
    map.relayout();
    ps.keywordSearch('헬스장', placesSearchCB,{location:centerPos,radius:searchRadius[search]}); 
    
    //alert('zoom changed');
})
// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    //alert('검색완료');
    if (status === kakao.maps.services.Status.OK) 
    {
        //alert('status ok');
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);    
           // bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }      
        
    }
    
}
// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {
    
    // 마커를 생성하고 지도에 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x) 
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}
</script>

{% endblock %}